$color-black: #212832;
$color-yellow:#F1A501;
$color-pink:#DF6951;
$color-dark-blue:#181E4B;
$color-grey:#5E6282;
$color-beige:#F1A50126;
$color-white:#FFFFFF;
$color-light-pink:#DF69514D;
$color-pink-beige:#FFF1DA;
$color-category-text:#1E1D4C;
$color-blue:#006380;
$color-light-grey:#F5F5F5;
$color-middle-grey:#84829A;
$color-light-violet:#8A79DF;
$color-light-grey:rgba(223, 215, 249, 0.2);
$color-grey-mid:#39425D;
$color-deep-black:#080809;

$hero-gradient: radial-gradient(circle, rgba(208,170,227,0.2024160005799195) 0%, rgba(255,255,255,0) 75%);
$book-trip-gradient: radial-gradient(circle, rgba(89,177,230,0.19940476190476186) 0%, rgba(63,94,251,0) 50%);