//hero
$font-hero-main-text: 9.5vh;
$font-hero-button: 1.5vh;
$font-upper-main-text: 2.3vh;

//category
$font-category: 2.23vh; //20px
$font-category-p: 1.8vh; //16px
$font-subtext: 2.05vh; //18px
$font-text: 5.75vh; //50px;

//book-trip
$font-book-trip: 1.6vh; //14px;

//footer
$font-footer-company-desk: 5vh; // 44px;
$font-footer-company-desk-p: 1.5vh; //13px;
$font-footer-nav-column-h1: 2.4vh; //21px;


//common
$font-standart: 1.85vh;
$font-medium: 2vh;

















//next time most common sizes put in common variables

