@font-face {
    font-family: InterR;
    src: url("/fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: InterB;
    src: url("/fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: InterM;
    src: url("/fonts/Inter/static/Inter-Medium.ttf");
}

@font-face {
    font-family: VolkhovB;
    src: url("/fonts/Volkhov/Volkhov-Bold.ttf");
}

@font-face {
    font-family: PoppinsB;
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsM;
    src: url("/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: PoppinsL;
    src: url("/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: PoppinsR;
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: PoppinsSB;
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
}